@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    position: relative;
}

/* 더보기버튼 */

button {
    padding: 10px;
    border: #00ccff 3px double;
    background-color: white;
    color: #00ccff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    border: white 3px double;
    background-color: #00ccff;
    color: white;
}

/* header */

#header {
    width: 100%;
    height: 150px;
    position: fixed;
    background-color: white;
    top: 0;
    border-bottom: 2px solid deepskyblue;
    z-index: 10;
}

.h_inner {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
}

.logo {
    float: left;
    padding-top: 10px;
}

.nav {
    text-align: center;
}

.main {
    margin-top: 50px;
    float: right;
}

.main>li {
    position: relative;
    float: left;
}

.main>li>a {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
    color: #00ccff;
}

.sub {
    width: 200px;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 0;
    border: 2px solid #00ccff;
    border-top: none;
    display: none;
}

.sub li a {
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    display: block;
    background-color: white;
}

.sub li:hover a {
    color: #00ccff
}

.m_menu_btn {
    cursor: pointer;
    display: none;
    z-index: 500;
}

.m_menu {
    display: none;
}

/* section */

#section {
    width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

#section>div>img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#section>div h2 {
    color: #00ccff;
    text-align: center;
    font-size: 28px;
    margin-top: 60px;
}

#section>div>p {
    margin: 30px 0 60px 0;
}


/* 슬라이드 */

.slide {
    height: 600px;
}

.move {
    width: 1200px;
    height: 600px;
    position: relative;
}



.move .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.move .slick-dots li {
    display: inline-block;
    margin: 0 15px;
}

.move .slick-dots li button {
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 1px gray;
    border-radius: 50%;
    cursor: pointer;
}

.move .slick-dots li.slick-active button {
    background-color: #00ccff;
}

.move .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 27px;
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    background-image: url("../img/bg_direction_nav.png");
    cursor: pointer;
    z-index: 5;
}

.move .slick-arrow.slick-prev {
    left: 5%;
}

.move .slick-arrow.slick-next {
    right: 5%;
    background-position: -30px 0;
}


/* 매장찾기 */

.location {
    height: 1000px;
    position: relative;
    padding: 90px;
    background-color: #f6f6f6;
}

.location ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.location ul li {
    width: 300px;
    height: 300px;
    float: left;
    margin-bottom: 40px;
    box-shadow: 3px 3px 0px #00ccff;
    opacity: 0;
    transform: translateY(30%);
    transition: all 0.5s;
}

.location ul li.ani {
    opacity: 1;
    transform: translateY(0%);
}

.location ul li .cover {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    opacity: 0;
}

.location ul li .cover:hover {
    opacity: 1;
}


.location ul li a img {
    display: block;
}

.l_text {
    width: 300px;
    height: 100px;
    background-color: white;
    text-align: center;
    line-height: 100px;
}

.location button {
    position: absolute;
    right: 90px;
    bottom: 90px;
}

/* 이용안내 */
.guide {
    position: relative;
    height: 800px;
    padding: 90px;
    background-image: url("../img/guide_bg.png");
}

.guide ul li {
    position: relative;
    width: 500px;
    height: 600px;
    float: left;
}

.guide ul li img {
    position: absolute;
    left: 10%;
    box-shadow: 10px 10px 20px white;
    opacity: 0;
    transform: translateY(-30%);
    transition: all 0.5s;
}

.guide ul li img.ani {
    opacity: 1;
    transform: translateY(0%);
}

.g_text {
    position: absolute;
    width: 250px;
    height: 200px;
    background-color: #00ccff;
    color: white;
    border-radius: 5%;
    padding: 30px;
    bottom: 25%;
    left: 30%;
    text-align: left;
    line-height: 30px;
    opacity: 0;
    transform: translateY(30%);
    transition: all 0.5s;
}

.g_text.ani {
    opacity: 1;
    transform: translateY(0%);
}

.guide button {
    position: absolute;
    right: 90px;
    bottom: 90px;
}

/* 창업안내 */

.franchise {
    position: relative;
    height: 700px;
    padding: 90px;
    background-image: url("../img/fran_bg.png");
}


.franchise ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.franchise ul li {
    width: 320px;
    height: 320px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    text-align: center;
    border: 3px solid #00ccff;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px gray;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s;
}

.franchise ul li.ani {
    opacity: 1;
    transform: scale(1);
}


.franchise ul li img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
}

.franchise ul li h3 {
    margin-top: 140px;
    color: #00ccff
}

.franchise ul li p {
    margin-top: 10px;
    color: #333333;
}

.franchise button {
    position: absolute;
    right: 90px;
    bottom: 90px;
}

/* footer */

#footer {
    width: 100%;
    height: 200px;
    background-color: gray;
}

.f_inner {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background-color: gray;
}

.f_logo {
    margin: 30px;
    float: left;
}

.f_menu {
    float: left;
    margin: 30px;
    color: white
}

.f_menu ul li {
    display: inline-block;
    margin: 0 20px 20px 0;
}

.f_menu ul li a {
    display: block;
    position: relative;
}

.f_menu li a::after {
    content: "|";
    display: inline-block;
    position: absolute;
    right: -15px;
}

.f_menu li:last-child a::after {
    display: none;
}


.f_call {
    float: right;
    margin: 30px;
    color: deepskyblue;
}

/* sns */

.sns {
    position: fixed;
    z-index: 50;
    right: -64px;
    bottom: 0;
}

.sns ul {}

.sns ul li {
    /* margin: 10px 0; */
}

.sns ul li a img {
    width: 50%;
}

.popup{position: absolute;top: 50px;left: 30%;z-index: 200;}
.close{background-color: white;padding: 5px;position: absolute;bottom: 20px;right: 20px;}
/* 반응형 */
@media screen and (min-width: 320px) and (max-width:639px) {
    body {
        width: 100vw;
    }

    #header {
        width: 100vw;
    }

    .nav {
        display: none;
    }

    .m_btn {
        display: block;
    }

    #section {
        width: 100vw;
    }

    .slide {
        height: fit-content;
    }

    .move {
        width: 100vw;
        height: fit-content;
    }

    .move li a img {
        width: 100vw;

    }

    .m_menu_btn {
        display: block;
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        float: right;
        width: 50px;
        height: 50px;
        background: url("../img/m_menu_btn.png") no-repeat;
        text-indent: -9999px;
        z-index: 501;
    }

    .m_menu_btn.on {
        background: url("../img/m_menu_close_btn.png") no-repeat;
    }

    .m_menu {
        display: block;
        position: fixed;
        width: 200px;
        height: 530px;
        background-color: white;
        padding: 30px;
        transition: all .3s;
        z-index: 500;
        right: 0;
        padding-top: 150px;
        color: #00ccff;
        text-align: right;
        right: -260px;
    }

    .m_menu li {
        font-size: 24px;
        line-height: 42px;
        font-weight: bold;
    }
    .m_sub{}

    .m_sub li {
        font-size: 18px;
        line-height: 36px;
        font-weight: normal;
    }

    .m_menu.on {right: 0;}

    .m_menu_bg {
        background-color: rgba(0, 0, 0, .5);
        z-index: 490;
        width: 100%;
        height: 100vh;
        display: none;
    }

    /* 매장찾기 */

    .location {
        width: 100vw;
        height: 1100px;
        padding: 30px;
        box-sizing: border-box;
    }

    .location ul,
    .location ul li .cover {
        width: 80%;
        margin: 0 auto;
    }


    .location ul li,
    .location ul li .cover {
        width: 30vw;
        height: 100%;
    }

    .location ul li img {
        width: 30vw;
    }

    .l_text {
        width: 30vw;
        font-size: 11px;
    }


    .location button {
        right: 5vw;
        bottom: 5vw;
    }

    /* 이용안내 */

    .guide {
        width: 100vw;
        height: auto;
        padding: 5vw+;
        box-sizing: border-box;
    }

    .guide ul li {
        width: 40vw;
        height: 280px;
        float: none;
        margin: 0 auto;
        left: -30%;
    }

    .guide ul li img {
        width: 40%;
        top: 5%;
        z-index: 5;
        left: 20%;
    }

    .g_text {
        margin: 0 auto;
        width: 50vw;
        height: fit-content;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        top: 0;
        right: 0;
    }

    .guide button {
        right: 5vw;
        bottom: 5vw;
    }


    /* 창업안내 */
    .franchise {
        width: 100vw;
        padding: 5vw+;
        box-sizing: border-box;
        height: fit-content;

    }

    .franchise button {
        right: 5vw;
        bottom: 5vw;
    }

    .franchise ul li {
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .franchise ul li h3 {
        font-size: 16px;
    }


    /* footer */
    #footer {
        width: 100vw;

    }

    .f_inner {
        width: 100vw;
        padding: 5vw;
        height: auto;
        text-align: center;
        box-sizing: border-box;
        font-size: 11px;
    }

    .f_logo {
        margin: 0 auto;
        float: none;
    }

    .f_menu {
        float: none;
    }

    .f_call {
        margin: 0 auto;
        float: none;
        font-size: large;
    }
}